.container {
    width: 100%;
    background-color: #3f0000;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.buttoWrapper {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}